.blogboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 5rem 0;
}
.box {
    padding-bottom: .3rem;
    transition: all .5s;
}
.box:hover {
    border: 1px solid var(--color-primary);
    transform: scale(1.03);

}

.box h3 {
    font-size: 1.6rem;
    text-decoration: underline;
}
.box p {
    font-size: 1rem;
    text-align: right;
    margin-top: 1rem;
}


@media only screen and (max-width: 700px) {
    .blogboxes{
        display: block;
    }
    .box {
        margin-bottom: 5rem;
    }
}