.blog {

}

.blog header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 3rem;
    position: relative;
}
.blog header .img {
    height: 30vh;
    filter: brightness(70%);
}
.blog header h1 {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    text-shadow: 3px 3px 5px black;
    font-weight: 200;
}